---
name: Deploy

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions: {}

jobs:
  ci:
    permissions:
      actions: write
      contents: read
      packages: read
      security-events: write
    uses: erik73/workflows/.github/workflows/app-ci.yaml@3f7b33b83dc945d85059fbffd3c4f45ca121455a # v1.0.7

  deploy:
    needs: ci
    permissions:
      contents: read
      packages: write
    uses: erik73/workflows/.github/workflows/app-deploy.yaml@3f7b33b83dc945d85059fbffd3c4f45ca121455a # v1.0.7
    secrets:
      DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
