---
name: Release Drafter

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: read

jobs:
  workflows:
    uses: erik73/workflows/.github/workflows/release-drafter.yaml@3f7b33b83dc945d85059fbffd3c4f45ca121455a # v1.0.7
